.notifications-container {
    position: fixed;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
}

.notification {
    animation: fadeIn 0.5s ease-out forwards, fadeOut 0.5s ease-out forwards 5s;
    display: none;
    opacity: 0;
    position: relative;
    max-width: 300px; /* Set the maximum width of the notification */
    margin: 10px auto; /* Center the notification horizontally */
    text-align: center; /* Center the text within the notification */
}

.notification.show {
    display: block;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
        display: none; /* Hide the notification after fading out */
    }
}


.btn.btn-info {
    padding: 2px 1.75em;
    font-size: 12px;
    cursor: pointer;
}